/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
  cursor : pointer;
}

.nav-color {
    background-color: #151A24;
    border-bottom: 1px solid #151A24 !important;
}
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    font-family: 'Reem Kufi', sans-serif;
    overflow-y: scroll;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url("/images/Realightbackground.jpg");
    background-repeat: repeat;
    background-position: center 0;
    font-family: 'Reem Kufi', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*HomePage CSS*/

.HomepageLogo {
    width: 20%;
    height:20%;
    padding-top:190px;
}

.search-bar{
    height:40px;
    width:50%
}

.searchDetails{
    border-radius:10px;
    text-align:center;
}

.search-button {
    height: 30px;
    width: 30%;
    border-radius: 20px;
    background-image: url("/images/searchBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color: white;
    opacity: 0;
    transition: 1s;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/*Input Box CSS*/
.input-wrapper {
    position: relative;
    margin: 20px auto;
}

.form-control {
    display: block;
    line-height: 2em;
    margin: 0;
    padding-left: 10px;
    width: 100%;
    font-size: medium;
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 500;
}

    .form-control:focus {
        border: 1px solid #2c7ac9;
    }

.control-label {
    display: block;
    position: absolute;
    opacity: 0;
    bottom: 1.2rem;
    color: #5d5d5d;
    transition: 0.2s ease-in-out transform;
    font-size: 12px;
}

.form-control:placeholder-shown + .control-label {
    visibility: hidden;
    z-index: -1;
    transition: 0.2s ease-in-out;
}

.form-control:not(:placeholder-shown) + .control-label,
.form-control:focus:not(:placeholder-shown) + .control-label {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    transform: translateY(-10px);
    transition: 0.2s ease-in-out transform;
}

/*Browse page CSS*/
.browse-filters {
    min-width: 450px;
    padding: 1em;
    margin: 0 auto;
    justify-content: center;
    background-image: linear-gradient(#463266, #24272E);
    color: #F1F1F1;
}

.browse-container {
    min-width: 450px;
    padding-bottom: 5em;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex: 2;
    flex-wrap: wrap;
    color: #F1F1F1;
    background-color: #24272E;
}


.map-panel {
    margin: 10px;
    border-radius: 10px;
    align-self: center;
    justify-content: space-around;
}

    .map-panel:hover {
        box-shadow: 0 0 10px #fff;
    }
        .map-panel:hover .map-info {
            background-color: #52555C;
        }

.map-header {
    width: 425px;
    min-width: 180px;
    height: 128px;
    border-radius: 10px 10px 0 0;
    background-color: #393B40;
    background-image: url("/images/placeholder-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
}

.map-header-info{
    font-size: small;
    padding: 0 0 7px 10px;
    align-self: flex-end;
}

#title {
    font-size: x-large;
    line-height: 90%;
}

.map-info {
    border-radius: 0 0 10px 10px;
    width: 425px;
    min-width: 180px;
    background-color: #393B40;
    padding: 8px 10px 8px 5px;
    display: flex;
    justify-content: space-between;
}

.tag-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag{
    width: 4em;
    height: 1em;
    margin: 0 5px 0 5px;
    border-radius: 10px;

    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-count {
    width: 3.8em;
    height: 2em;
    border-radius: 20px;
    background-color: #393B40;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.player-count span{
    vertical-align: middle;
    margin-right: 2px;
}

#person {
    width: 1.5em;
    height: auto;
}

.link {
    position: relative;
}

#link {
    width: 1.4em;
}

.LinkToDetail {
    text-decoration: none;
    color: #F1F1F1;
}

    .LinkToDetail:hover {
        text-decoration: none;
        color: #F1F1F1;
    }

.LinkToProfile{
    color: #F1F1F1;
}

    .LinkToProfile:hover {
        text-decoration: underline;
        color: #F1F1F1;
    }

/*Map List page CSS*/

.map-title {
    min-width: 450px;
    padding: 1em;
    margin: 0 auto;
    justify-content: center;
    background-image: linear-gradient(#056406, #24272E);
    color: #F1F1F1;
}

.Map-header-container {
    min-width: 450px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-self: center;
    color: #F1F1F1;
    background-color: #24272E;
    padding-top:15px;
    padding-bottom:15px;
}

.divider{
    background-color:black;
    min-height:2px;
}

.Individual-Map-Header {
    cursor: pointer;
    background-color: #393B40;
    padding: 20px;
    display: flex;
}

    .Individual-Map-Header:hover {
        box-shadow: 0 0 10px #151A24;
        background-color: #484B51;
        transition: all 0.1s
    }

.mapName {
    margin-bottom: 0px;
    margin-top: 0;
    font-size: 1em;
}

.Individual-Map-Details {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    background-color: #2E3137;
    box-shadow: 0 5px 10px #151A24;
}

.authorDetails{
    margin-left:auto;
    padding-left:20px;
    text-align:right;
}

.Content-Details {
    padding: 20px;
}

.MapDescription {
    margin-top:20px;
}

.con-sample-image {
    padding-top:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sample-image {
    width: 24%;
    max-height:100px;
}


/*tooltip Box*/
.con-tooltip {
}

/*tooltip */
.tooltip {
    visibility: hidden;
    z-index: 1;
    opacity: 0.40;
    width: 100px;
    padding: 0;
    height: 1.5em;
    background: #333;
    color: #E086D3;
    position: absolute;
    top: -170%;
    border-radius: 9px;
    font: 16px;
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
    display:flex;
    justify-content: center;
}


/* tooltip  after*/
.tooltip::after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    border-color: #333 transparent transparent transparent;
    position: absolute;
    top: 80%;
    left: 35%;
}

.con-tooltip:hover .tooltip {
    visibility: visible;
    transform: translateY(-10px);
    opacity: 1;
    transition: .3s linear;
    animation: odsoky 1s ease-in-out infinite alternate;
}

@keyframes odsoky {
    0% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(1px);
    }
}

.tooltip-2{
    width: 120px;
    top: -200%;
    left: -94px;
}

.tooltip-2::after{
    left: 75%;
}

/*Room Detail Page*/
.details-header-container {
    min-width: 450px;
    min-height: 180px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-self: center;
    color: #F1F1F1;
    background-image: url("/images/placeholder-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px 15px 0 0;
}

.details-header-content {
    position: absolute;
    bottom: 0;
    left: 30px;
}

.details-container {
    margin: 0 auto;
    justify-content: space-evenly;
    color: #F1F1F1;
    background-color: #24272E;
    padding-top: 15px;
    padding-bottom: 15px;
}

.comment-container {
    margin: 0 auto;
    justify-content: space-evenly;
    color: #F1F1F1;
    background-color: #24272E;
    padding-top: 15px;
}

.comment-textarea {
    height: 40px;
    border-radius: 10px;
    width: 60%;
    padding: 8px 10px 8px 10px;
}

.postBtn {
    border: none;
    background: none;
    padding-left: 30px;
    color: #A9FF8A;
}

.comment-section {
    padding-left: 25px;
    margin: 0 auto;
    justify-content: space-evenly;
    color: #F1F1F1;
    background-color: #393B40;
    padding-top: 15px;
    border-bottom: solid #24272E 2px;
    padding-right: 25px;
    padding-bottom: 15px;
}

