@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 nav-color">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/images/realightstar.png" alt="Logo" height="50%" width="50%" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-white" asp-controller="Home" asp-action="Browse" asp-route-filterTag="@null">Browse</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-white" asp-controller="Home" asp-action="MapList">Download</a>
                <ul class="dropdown">
                    @if (Context.Session.GetString("User") != null)
                    {
                        <li><a class="nav-link text-white" href="UploadMap">Upload Your Map</a></li>
                    }
                    else
                    {
                        <li><a class="nav-link text-white" href="Home/UploadMap">Upload Your Map</a></li>
                    }
                    <li><a class="nav-link text-white" href="https://firebasestorage.googleapis.com/v0/b/realight-db.appspot.com/o/Realight.zip?alt=media&token=4cf36487-435d-4604-a5eb-963bb91952dd">Game Client</a></li>
                </ul>
            </li>
        </ul>
        @if (Context.Session.GetString("User") != null)
        {
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link text-white">@HttpContextAccessor.HttpContext.Session.GetString("User")</a>
                    <ul class="dropdown">
                        <li><a class="nav-link text-white" asp-controller="Home" asp-action="Profile" asp-route-ownername="@HttpContextAccessor.HttpContext.Session.GetString("User")">View Profile</a></li>
                        <li><a class="nav-link text-white" asp-controller="Home" asp-action="Edit">Edit Profile</a></li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Logout">Log out</a>
                </li>
            </ul>
        }
        else
        {
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Register">Sign Up</a>
                </li>
            </ul>
        }

    </div>
</nav>
