@model IEnumerable<Realight_Website.Models.Room>

@{
    ViewData["Title"] = "Browse";
}

<div class="row">
    <div class="col-1"></div>
    <div class="col-10 browse-filters">Sort by:</div>
    <div class="col-1"></div>
</div>


<div class="row">
    <div class="col-1"></div>
    <div class="browse-container col-10">
        @foreach (var item in Model)
        {
            <div class="map-panel" href="">
                <div class="map-header">
                    <div class="map-header-info">
                        <div id="title">@Html.DisplayFor(modelItem => item.name)</div>
                        @Html.DisplayFor(modelItem => item.ownername)
                    <div class="player-count con-tooltip">
                        <img id="person" src="~/images/whiteperson.png" />
                        <span>@Html.DisplayFor(modelItem => item.playerCount)</span>
                        <div class="tooltip">Current Players</div>
                    </div>
                    </div>
                </div>
                <div class="map-info">
                    <div class="tag-container">
                        @for (int i = 0; i < item.interestTag.Count(); i++)
                        {
                            <div class="tag">@Html.DisplayFor(modelItem => item.interestTag[i])</div>
                        }
                    </div>
                    <div class="link con-tooltip">
                        <div class="tooltip">Copy Room Code</div>
                        <a href=""><img id="link" src="~/images/link.png" /></a>

                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-1"></div>
</div>


