@{
    ViewData["Title"] = "Home Page";
}

<div style="position:fixed; left:0; right:0;">
	
	<a asp-controller="Home" asp-action="Index"></a><img class="mx-auto d-block HomepageLogo" src="~/images/realight.png" alt="Realight Logo">
	<input type="search" id="searchDetails" class="mx-auto d-block search-bar" placeholder="Enter your interests here" />
	<br />
	<button id="search" class="mx-auto d-block search-button"><a class="text-white" asp-area="" asp-controller="Home" asp-action="Browse" asp-route-filterTag="@null">Let's Go!</a></button>
</div>

<script>
	const input = document.getElementById('searchDetails');
	const button = document.getElementById('search');

	input.addEventListener('input', showButton);

	function showButton(e) {
		if (e.target.value != null) {
			button.style.opacity = 1;
		} else {
			button.style.visibility = 0;
		}
	}


	(function () {
		var search = document.getElementById('searchDetails');
		search.addEventListener('keypress', function (event) {
			if (event.keyCode == 13) {
				event.preventDefault();
				button.click();
			}
		})
	})
</script>
