@{
    ViewData["Title"] = "Home Page";
}

<div style="position:fixed; left:0; right:0;">
	<a asp-controller="Home" asp-action="Index"></a><img class="mx-auto d-block HomepageLogo" src="~/images/realight.png" alt="Realight Logo">
	<form asp-action="Browse" method="get">
		<input type="text" id="searchDetails" name="SearchString" value="@ViewData["currentFilter"]" class="mx-auto d-block search-bar searchDetails" placeholder="Enter your interests here" />
		<br />
		<button type="submit" value="search" id="search" class="mx-auto d-block search-button">Let's Go!</button>
	</form>
</div>

<script>
	const input = document.getElementById('searchDetails');
	const button = document.getElementById('search');

	input.addEventListener('input', showButton);

	function showButton(e) {
		if (e.target.value != null) {
			button.style.opacity = 1;
		} else {
			button.style.visibility = 0;
		}
	}


	var search = document.getElementById('searchDetails');
	search.addEventListener('keypress', function (event) {
		if (event.keyCode == 13) {
			event.preventDefault();
			button.click();
		}
	})
</script>
