@{
    ViewData["Title"] = "Home Page";
}

<div class="">
	<img class="mx-auto d-block HomepageLogo" src="~/images/realight.png" alt="Realight Logo">
	<input type="search" class="mx-auto d-block search-bar" placeholder="Enter your interests here"/>
</div>

