@{
    ViewData["Title"] = "Login";
}

<body>
    <div class="row">
        <div class="col-4"></div>
        <div style="position:fixed; left:0; right:0;" class="col-10" id="login_div">
            <form method="post" action="~/Home/Login">
                <fieldset class="loginFieldset">
                    <legend>Login</legend>
                    <label for="txtLoginID">Email Address:</label>
                    <input type="email" name="txtLoginID" id="txtLoginID" required /><br />

                    <label for="Password">Password:</label>
                    <input type="password" name="Password" id="Password" style="width:100px" required />
                    <br />
                    <input type="submit" id="btnStaffLogin" class="loginbutton" value="Login" />
                    <br />
                    <span style="color:darkred;">@TempData["Message"]</span>

                </fieldset>
                <a class="nav-link" asp-controller="Home" asp-action="Register">Click here to Register!</a>
            </form>
        </div>

        <div class="col-1"></div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>

    <script src="site.js"></script>
</body>
