@{
    ViewData["Title"] = "Login";
}

<body>
    <div class="row">
        <div class="col-4"></div>
            <div style="position:fixed; left:0; right:0;" class="col-10" id="login_div">

            </div>

        <div class="col-1"></div>
    </div>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6 details-container">
                    <form method="post" asp-action="Login" asp-controller="Home">
                        <fieldset class="loginFieldset">
                            <div class="box">
                                <div class="input-wrapper">
                                    <input type="text" id="txtLoginID" class="form-control" placeholder="Email Address" value="@ViewData["email"]" name="email">
                                    <label for="input" class="control-label">Email Address</label>
                                </div>
                            </div>

                            <div class="box">
                                <div class="input-wrapper">
                                    <input type="password" id="Password" class="form-control" placeholder="Password" value="@ViewData["password"]" name="password">
                                    <label for="input" class="control-label">Password</label>
                                </div>
                            </div>
                            <br />
                            <span style="color:darkred;">@TempData["Message"]</span>
                            <br />
                            <input type="submit" id="loginbutton" class="loginbutton btn btn-primary" value="Login" />
                            <br />
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Register" class="btn btn-secondary">Click here to Register!</a>
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>

    <script src="~/js/site.js"></script>
</body>
