@model Realight_Website.Models.Player

@{
    ViewData["Title"] = "Register";
}

<body>
    <div class="row">
        <div class="col-4"></div>
        <div style="position:fixed; left:0; right:0;" class="col-10">

        </div>

        <div class="col-1"></div>
    </div>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6 details-container">
                    <form method="post" action="~/Home/Register">
                        <fieldset class="registerFieldset">
                            <span style="color:darkred;">@TempData["Message"]</span>
                                <!--NAME-->
                                <div class="box">
                                    <div class="input-wrapper">
                                        <input type="text" asp-for="name" class="form-control" placeholder="Username">
                                        <label asp-for="name" for="input" class="control-label">Username</label>
                                        <span asp-validation-for="name" class="text-danger"></span>
                                    </div>
                                </div>
                                <!--EMAIL-->
                                <div class="box">
                                    <div class="input-wrapper">
                                        <input type="text" asp-for="email" class="form-control" placeholder="Email">
                                        <label asp-for="email" for="input" class="control-label">Email Address</label>
                                        <span asp-validation-for="email" class="text-danger"></span>
                                    </div>
                                </div>
                                <!--PASSWORD-->
                                <div class="box">
                                    <div class="input-wrapper">
                                        <input type="password" asp-for="password" class="form-control" placeholder="Password">
                                        <label asp-for="password" for="input" class="control-label">Password</label>
                                        <span asp-validation-for="password" class="text-danger"></span>
                                    </div>
                                </div>
                            <input type="submit" id="registerBtn" class="registerButton" value="Register" />
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>


    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>

    <script src="~/js/site.js"></script>
</body>