@model Realight_Website.Models.Maps

@{
	ViewData["Title"] = "Upload Map";
}

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadMap">
	<div class="form-group">
		<label asp-for="mapName" class="control-label"></label>
		<input asp-for="mapName" class="form-control fieldbox" />
		<span asp-validation-for="mapName" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="description" class="control-label"></label>
		<input asp-for="description" class="form-control fieldbox" />
		<span asp-validation-for="description" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="mapMaker" class="control-label"></label>
		<input asp-for="mapMaker" class="form-control fieldbox" />
		<span asp-validation-for="mapMaker" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="mapPreviews" class="control-label"></label>
		<input type="file" asp-for="mapPreviews" class="form-control-file" multiple accept="image/*"/>
		<span asp-validation-for="mapPreviews" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="mapFile" class="control-label"></label>
		<input asp-for="mapFile" class="form-control-file" />
		<span asp-validation-for="mapFile" class="text-danger"></span>
	</div>
	<div class="form-group">
		<input type="submit" value="Upload" class="btn btn-primary" />
	</div>
</form>

